[Unit]
Description=Zoekt search webserver (sourcegraph/zoekt)
After=cave.service
Requires=cave.service

[Container]
ContainerName=cave-prod-zoekt-web
Image=localhost/cave-zoekt:prod
Network=cave.network
Exec=-rpc -listen :6070 -index /data/index
Volume=cave-zoekt.volume:/data/index
Volume=cave-data.volume:/var/lib/cave:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
