[Unit]
Description=Cave Keycloak
After=cave-pg.service
Requires=cave-pg.service

[Container]
ContainerName=cave-prod-keycloak
Image=quay.io/keycloak/keycloak:26.0
Network=cave.network
PublishPort=127.0.0.1:9180:8080
Environment=KC_DB=postgres
Environment=KC_DB_URL=jdbc:postgresql://cave-prod-pg:5432/keycloak
Environment=KC_DB_USERNAME=cave
Environment=KC_DB_PASSWORD=cave
Environment=KC_HOSTNAME=http://localhost:9180
Environment=KC_HOSTNAME_STRICT=false
Environment=KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
Environment=KC_HTTP_ENABLED=true
Environment=KC_BOOTSTRAP_ADMIN_USERNAME=admin
Environment=KC_BOOTSTRAP_ADMIN_PASSWORD=admin
Volume=%h/git/cave/keycloak/cave-realm.json:/opt/keycloak/data/import/cave-realm.json:ro,z
Volume=%h/git/cave/keycloak/themes/cave:/opt/keycloak/themes/cave:ro,z
Exec=start-dev

[Service]
Restart=always

[Install]
WantedBy=default.target
